body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 248, 222);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    align-items: center;
}
h1{
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
}
.container textarea{
    height:50vh;
    width: 70vw;
    font-size: large;
    display: flex;
    align-items: center;
}
.container input{
   width: 5vw;
   font-size: large;
   
}
.buttons{
    margin-top: 2vh;
    display:flex;  
}
#encrypt{
    margin: auto 2vh;
}
#decrypt{
    margin: auto 2vh;
}
